# Project exclude paths
/target/
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/dbnavigator.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/springboot-mybatisplus.iml
/.idea/vcs.xml
